body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#1976d2, #64b5f6);
    color: #bbdefb;
}

h1, h2, h3, h4 {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #42a5f5;
    margin-bottom: 10px;
}

#bday-age {
    background: #42a5f5;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #42a5f5;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("https://media.giphy.com/media/t3sZxY5zS5B0z5zMIz/giphy-downsized-large.gif");
    background-size: 100% 100%;
    
}

#gift-img-hot:hover {
    background-image: url("https://media.giphy.com/media/fAv2n4Tlhshig/giphy.gif");
    background-size: 100% 100%;
}

#gift-img-genius:hover {
    background-image: url("https://media.giphy.com/media/1pA2TskF33668iVDaW/giphy.gif");
    background-size: 100% 100%;
}

#gift-img-badass:hover {
    background-image: url("https://media.giphy.com/media/NUC0kwRfsL0uk/giphy.gif");
    background-size: 100% 100%;
}

#gift-img-cheers:hover {
    background-image: url("https://media.giphy.com/media/fQYqqtg18A9iLhBO9m/giphy.gif");
    
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}
